@charset "utf-8";
/* CSS Document */

body{ 
     font:19px "华康俪金黑W8(P)"; 
     text-align:center; 
     margin-left: 20px;
     padding: 0px;
     background-color: #F8F8FF; 
     float:left;
} 
MenuBar1{
	font:Arial, Helvetica, sans-serif
	width:1200px; 
     height:100px; 
     margin:0px auto; 
     background:#FFFFFF;
}
	
<!--ABOUT-->
.name{font:20px "幼圆"; 
     text-align:left; 
     width:720px; 
     margin:10px auto; 
}
.intro{font:10px "幼圆"; 
     text-align:left; 
     width:720px; 
	 }
.contact-box{
	width:600px;
	position:absolute;
	left:20%;
	color:white;
	top:50px;
}
.contact-box h1{
	float:left;
	font-size:36px;
	border-bottom:6px solid #0F0;
	margin-bottom:50px;
	padding:13px 0;
}
.text-box{
	width:100%;
	overflow:hidden;
	font-size:20px;
	padding:8px 0;
	margin:8px 0;
	border-bottom:1px solid #0F0;
}
.text-box input{
	border:none;
	outline:none;
	background:none;
	color:white;
	font-family:"华康俪金黑W8(P)";
	font-size:18px;
	width:100px;
	float:left;
	margin:5px;
}
.text-box textarea{
	border:none;
	outline:none;
	background:none;
	float:left;
	color:white;
	font-family: "华康俪金黑W8(P)";
	font-size:18px;
	width:100%;
	min-width:95%;
	max-width:95%;
	height:100px;
	min-height:80px;
	float:left;
	margin:0 10px;
}
.btn{
	width:100%;
	background:none;
	border:2px solid #0F0;
	color:#0F0;
	padding:5px;
	font-family: "Blackoak Std";
	font-size:18px;
	cursor:pointer;
	margin:12px 0;	
}
.pic{
	width: 890px;
	height: 400px;
	border: 5px solid #0F0;
	box-shadow: 0 0 10px rgba(0,0,0,.6);
	margin: 50px auto;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.pic span{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 900px;
	height: 50px;
	background: rgba(0,0,0,.5);
	color: #fff;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	opacity: 0;
}
.pic img,.pic span{
	transition: all .5s;
}
.pic:hover span{
	opacity: 1;
}
.pic:hover img{
	transform: scale(1.3);
}

.divv ul,li{
	list-style:none;
	padding:0; 
	margin:0;}
.divv ul{
	width:1150px;
	height:300px;
	margin:100px auto;
	border:2px solid #0F0;
	overflow:hidden;}
.divv ul li{
	width:160px;
	height:300px;
	float:left;
	transition-property:width;
	transition-duration:1s;}
.divv ul:hover li{
	width:58px;}
.divv ul li:hover{
	width:670px;}  